* {
    background-color:  rgb(180, 222, 252);
    margin-left: 5px;
    padding: 1px;
    margin-right: 5px;
}

header {
    display: block;
}

p, h2 {
    display: inline-block;
}

p {
    font-family: fantasy;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}

h1 {
    font-family: fantasy;
    text-align: center;
    font-size: 3em;
    padding: 10px;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(127, 127, 219);
}

h2 {
    font-family: fantasy; 
    color: rgb(104, 104, 230); 
    padding: 10px;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(127, 127, 219);

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    width: auto;
    height: 40px;
    opacity: 0.9;
    line-height: 40px;
    text-align: left;
    font-size: 20px;
}

ul li a {
    font-family: fantasy;
    
    padding: 10px;
}

ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(127, 127, 219);
    
}

.aboutpam {
    border-radius: 10%;
    height:300px;
    width: 100%;
    
}

.parent {
    display: flex;
    justify-content: flex-start;
    
 
   
}
.child {
    flex-basis: 33.33%;
    box-sizing: border-box;
    
}
.child img { 
    display:block;
    height: 100%;
    width: 100%;
    border-radius: 20%;
}
   
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:422px;
    width:947px;
}


   
     
